.box1{
  width: 100px;
  height: 100px;
  transform: translate3d(50deg);
  background:red;
  position:relative;
  will-change:transform;
}
.box2{
  width: 100px;
  height: 100px;
  /* transform: translate3d(50deg); */
  background:pink;
}